  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-10">
        <button type="button" class="btn btn-success" ng-click="changeState(container, 'start')" ng-show="container.state.status=='Stopped'" ng-disabled="container.state.disabled">
          <i class="fa fa-play" aria-hidden="true"></i> <span class="hidden-xs">Start</span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="changeState(container, 'stop')" ng-hide="container.state.status=='Stopped'" ng-disabled="container.state.disabled">
          <i class="fa fa-stop" aria-hidden="true"></i> <span class="hidden-xs">Stop</span>
        </button>
        <button type="button" class="btn btn-warning" ng-click="changeState(container, 'restart')" ng-hide="container.state.status=='Stopped'" ng-disabled="container.state.disabled">
          <i class="fa fa-refresh" aria-hidden="true"></i> <span class="hidden-xs">Restart</span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="delete(container)" ng-show="container.state.status=='Stopped'" ng-disabled="container.state.disabled">
          <i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span>
        </button>
        <a type="button" class="btn btn-primary" ng-href="#!/container-snapshots/{{container.name}}" ng-disabled="container.state.disabled">
          <i class="fa fa-undo" aria-hidden="true"></i> <span class="hidden-xs">Snapshots</span>
        </a>
        <div class="btn-group" ng-show="container.state.status == 'Running'" ng-disabled="container.state.disabled">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownTerminalMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-terminal" aria-hidden="true"></i> <span class="hidden-xs">Terminal </span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownTerminalMenu">
            <li><a ng-href="#!/terminal/{{container.name}}/bash">Bash</a></li>
            <li><a ng-href="#!/terminal/{{container.name}}/sh">Sh</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-warning" ng-click="createImage(container)" ng-show="container.state.status == 'Stopped'" ng-disabled="container.state.disabled">
          <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="hidden-xs">To Image</span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <b>Overview</b>
    <table class="table">
      <tr>
        <td>Name</td>
        <td>{{ container.name}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ container.status}}</td>
      </tr>
      <tr>
        <td>Architecture</td>
        <td>{{ container.architecture}}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-4">
    <b>Statistics</b>
      <table class="table table-condensed">
          <tbody>
              <tr>
                  <td> Disk usage (MB) </td>
                  <td> {{container.state.disk.root.usage / (1024 * 1024) | number:0}}</td>
              </tr>
              <tr>
                  <td> Memory / Peak (MB) </td>
                  <td> {{container.state.memory.usage  / (1024 * 1024) | number:0}}
                    /
                    {{container.state.memory.usage_peak  / (1024 * 1024) | number:0}}</td>
              </tr>
              <tr>
                  <td> Processes </td>
                  <td> {{container.state.processes}}</td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="col-md-4">
    <b>Network</b>
    <table class="table table-condensed">
        <tbody>
          <tr>
            <td>
              <button type="button" class="btn btn-default" ng-click="update();">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
              </button>
          </tr>
          <tr>
            <td>
              <div class="row col-md-12">
                <div class="" ng-repeat="(interfaceName, interface) in container.state.network">

                  <b>{{interfaceName}}:</b>

                  <div class="row" ng-repeat="address in interface.addresses">
                    <div class="col-md-6">Address: </div>
                    <div class="col-md-6">{{address.address}}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">Bytes received: </div>
                    <div class="col-md-6">{{interface.counters.bytes_received}}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">Bytes sent: </div>
                    <div class="col-md-6">{{interface.counters.bytes_sent}}</div>
                  </div>

                  <p></p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <!-- <div class="col-md-4">
    <b>SSH</b>
    <table class="table">
      <tr>
        <td>
          <button type="button" class="btn btn-default">
            New SSH port
          </button>
      </tr>
      <tr>
        <td>
          <b>ports</b>
          <div ng-repeat="port in ssh.ports">
            {{port}}
          </div>
        </td>
      </tr>
    </table>
  </div> -->
