
<div class="panel panel-default">
  <div class="panel-body">
    <a class="btn btn-success" ng-click="createSnapshot()"><i class="fa fa-plus" aria-hidden="true"></i> Create Snapshot</a>
  </div>
</div>
<div ng-show="snapshots.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>
          Name
        </td>
        <td class="hidden-xs">
          Ephemeral
        </td>
        <td>
          Created at
        </td>
        <td class="hidden-xs">
          Stateful
        </td>
        <td>
          Actions
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="snapshot in snapshots">
        <td>
          {{snapshot.name}}
        </td>
        <td class="hidden-xs">
          {{snapshot.ephemeral}}
        </td>
        <td>
          {{snapshot.created_at}}
        </td>
        <td class="hidden-xs">
           {{snapshot.stateful}}
        </td>
        <td>
          <a class="btn btn-primary" ng-click="restore(snapshot)">
            <i class="fa fa-undo" aria-hidden="true"></i> <span class="hidden-xs">Restore</span> </a>
          <a class="btn btn-danger" ng-click="delete(snapshot)">
            <i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span> </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="snapshots.length == 0">
    <h4>No Snapshots</h4>
</div>

<div class="modal fade" id="modalNewSnapshot">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-desktop" aria-hidden="true"></i> New snapshot</h4>
            </div>
            <div class="modal-body">
              <form name="snapshotForm" class="form-horizontal" role="form">
                  <div class="form-group">
                      <div class="col-sm-12">
                          <input class="form-control" type="text" name="input" placeholder="Enter name of snapshot" ng-model="snapshot.name" required>
                      </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="createSnapshot()" ng-disabled="!snapshotForm.input.$valid" data-dismiss="modal">Create snapshot</button>
            </div>
        </div>
    </div>
</div>
