<div class="col-xs-12">
  <div class="jumbotron">
    <form class="form-horizontal" name="userForm" ng-submit="createContainer(userForm.$valid)" novalidate>
    <fieldset>
      <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && (!userForm.name.$pristine || isSubmitted )}">
        <label for="inputName" class="col-md-2 control-label">Name</label>
        <div class="col-md-4">
          <input ng-model="selected.name"
          class="form-control"
          type="text"
          value="{{containerName}}"
          size="32"
          ng-minlength="3"
          ng-maxlength="64"
          name="containerName"
          required>
        </div>
        <div class="col-md-4">
          <p ng-show="userForm.containerName.$invalid && (!userForm.containerName.$pristine || isSubmitted)" class="help-block">Name is required.</p>
          64 chars max, ASCII, no slash, no colon and no comma
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Image</label>
          <div class="col-md-4">
                <select class="form-control" id="select" ng-model="selected.image" ng-options="image as image.properties.description + ' ' + image.aliases[0].name for image in images">
               </select>

              </div>
        <div class="col-md-4">
          <p ng-show="userForm.image.$invalid && (!userForm.image.$pristine || isSubmitted)" class="help-block">Image is required.</p>
          Base image
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Profile</label>
          <div class="col-md-4">
                <select class="form-control" id="select" ng-model="selected.profile" ng-options="profile as profile.name + ' - '+ profile.description for profile in profiles">
               </select>
              </div>
        <div class="col-md-4">
          <!-- <p ng-show="userForm.image.$invalid && (!userForm.image.$pristine || isSubmitted)" class="help-block">Image is required.</p> -->
          Profile
        </div>
      </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Ephemeral</label>
          <div class="col-md-4 col-xs-offset-2">
            <label><input type="checkbox" ng-model="selected.ephemeral"></label>
          </div>
          <div class="col-md-2 col-md-pull-2">
            Whether to destroy the container on shutdown
          </div>
        </div>
        <div class="form-group">
         <div class="col-md-10 col-md-offset-2">
           <button type="submit" class="btn btn-primary">
             <i class="fa fa-plus" aria-hidden="true"></i> Add Container
           </button>
         </div>
       </div>
    </fieldset>
    </form>
  </div>
</div>
