<div class="modal-header">
    <h4 class="modal-title"> <i class="fa fa-desktop" aria-hidden="true"></i> New image</h4>
</div>
 <div class="modal-body">
   <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter name of image" ng-model="imageData.name" required>
    </div>
 </div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
