<div class="modal-header">
     <h3 class="modal-title">Delete image</h3>
 </div>

 <div class="modal-body">
   Do you really want to delete the image:
   <ul>
     <li>{{image.fingerprint | limitTo:12}}</li>
     <li>{{image.uploaded_at}}</li>
   </ul>
 </div>
 <div class="modal-footer">
     <button class="btn btn-danger" type="button" ng-click="ok()">Delete</button>
     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
 </div>
